
// tabs 布局
.view-tab .ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

// tabs 标题 文字样式
.view-tab .ant-tabs-tab{
  justify-content: space-around;
  width: 100vh;
}

// tabs内容样式
.view-tab .ant-tabs-tabpane{
  text-align: center;
}

