.total-price {
    &-white{
      color: #ffffff;
    }
  .income {
    display: flex;
    justify-content: flex-start;
    // padding-left: 30px;

  }
  .outcome {
    display: flex;
    justify-content: flex-end;
    // padding-right: 30px;
  }
}